
/* AI Credits Badge */
.creditsBadge, .creditsBadge::before {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-1) var(--space-2);
  background-color: var(--ai-accent-100);
  border-radius: 20px;
  border: 1px solid var(--ai-accent-700);
  flex-shrink: 0;
  overflow: clip;
  isolation: isolate;
 
}

.creditsBadge::before {

  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: var(--credits-left);
  height: 85%;
  z-index: -1;
  border: none;
  background: linear-gradient(135deg, var(--ai-accent-300), var(--ai-accent-300));

  transition: width 0.3s ease-in-out;
}

.creditsIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--ai-accent-500);
}

.creditsValue {
  font-size: var(--text-sm);
  font-weight: var(--font-bold);
  color: var(--ai-accent-900);
  line-height: 1;
}

.creditsLabel {
  font-size: var(--text-xxs);
  color: var(--ai-accent-700);
  font-weight: var(--font-medium);
}

.full {
   width: 100%;
}

.small {
  .creditsValue {
    font-size: var(--text-xs);
  }

  .creditsIcon {
    width: 0.85rem;
    height: 0.85rem;
  }
}

