@import "../styles/variables.css";

* {
  font-family: var(--font-jakarta);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ring);
  /* outline: 1px solid grey; */
}

html {
  height: 100%;
}

body {
  background: var(--background-color);
  color: var(--foreground);
  font-family: var(--font-sans);
  line-height: 1.625;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

input, textarea, select {
  font-family: inherit;
  color: var(--ring)
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

main {
  width: min(1440px, 95%);
  margin: 0 auto;
}

.hideScrollbar {
  scrollbar-width: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}