@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #111a14;
  --primary-1: #84B179;
  --primary-2: #A2CB8B;
  --primary-3: #C7EABB;
  --primary-4: #E8F5BD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0e0b;
    --foreground: #f3f6f3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
