.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-medium);
  border-radius: var(--radius-md);
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  border: none;
  outline: none;
  gap: var(--space-2);
}

.button:focus-visible {
  outline: 2px solid var(--primary-1);
  outline-offset: 2px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.primary {
  background-color: var(--primary-600);
  color: white;
}

.primary:hover {
  background-color: var(--primary-700);
}

.primary:active {
  background-color: var(--primary-1);
}

.secondary {
  background-color: var(--primary-3);
  color: var(--gray-800);
}

.secondary:hover {
  background-color: var(--primary-4);
}

.outline {
  background-color: transparent;
  border: 1px solid var(--primary-1);
  color: var(--primary-1);
}

.outline:hover {
  background-color: var(--primary-4);
}

.light_outline {
  background-color: transparent;
  border: 1px solid var(--neutral-100);
  color: var(--neutral-100);
}

.light_outline:hover {
  background-color: var(--neutral-700);
}

.ghost {
  background-color: transparent;
  color: var(--gray-700);
}

.ghost:hover {
  background-color: var(--primary-4);
  color: var(--gray-900);
}

.sm {
  padding: var(--space-2) var(--space-3);
  font-size: var(--text-sm);
}

.md {
  height: 2.5rem;
  padding: 0 var(--space-4);
}

.lg {
  height: 2.75rem;
  padding: 0 var(--space-8);
  font-size: var(--text-lg);
}



.ai {
  --ai-text: var(--ai-accent-500);
  --ai-grad-0: var(--ai-accent-500);
  --ai-grad-50: var(--ai-accent-400);
  --ai-grad-53: var(--ai-accent-300);
  --ai-grad-55: var(--ai-accent-200);
  --ai-grad-58: var(--ai-accent-300);
  --ai-grad-60: var(--ai-accent-400);
  --ai-grad-100: var(--ai-accent-500);
  --ai-content-bg: hsl(251 91% 95% / 0.5);
  --ai-content-padding: 0.5rem;
  --ai-content-fs: var(--text-xs);

  height: fit-content;
  background: linear-gradient(
    45deg,
    var(--ai-grad-0) 0%,
    var(--ai-grad-50) 50%,
    var(--ai-grad-53) 53%,
    var(--ai-grad-55) 55%,
    var(--ai-grad-58) 58%,
    var(--ai-grad-60) 60%,
    var(--ai-grad-100) 100%
  );

  background-size: 200% 100%;
  background-position: 100% 0;
  border-radius: 8px;

  animation: shimmer 2.5s ease-in-out infinite;

  padding: 1px 2px ;
  
  .aiButtonContent {
    padding: var(--ai-content-padding);
    background-color: var(--ai-content-bg) ;
    border-radius: 5px;
    text-wrap: balance;
    backdrop-filter: blur(10px) brightness(1.5);
    color: var(--ai-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--ai-content-fs);
    gap: 0.5rem;

    svg {
      stroke: var(--ai-text);
    }
    
  }
}

.fullWidth {
  width: 100%;
}

@keyframes shimmer {
  0%   { background-position: 200% 0; }
  100%  { background-position: 0% 0; }
}